@{
    ViewData["Title"] = "Fornecedores";
}

<form id="frm-pesquisa">
    <div class="row align-items-end mb-3 gx-2">
        <div class="col-sm-2 col-12 mb-3 mb-sm-0">
            <label class="control-label">Nome</label>
            <input type="text" name="Nome" class="form-control form-control-sm" placeholder="TODOS" autocomplete="off" maxlength="50" />
        </div>
        <div class="col-sm-2 col-12 mb-3 mb-sm-0">
            <label class="control-label">CNPJ</label>
            <input type="text" name="CNPJ" class="form-control form-control-sm cnpj" placeholder="TODOS" autocomplete="off"/>
        </div>
        <div class="col-sm-2 col-12 mb-3 mb-sm-0">
            <label class="control-label">Telefone</label>
            <input type="text" name="Telefone" class="form-control form-control-sm" data-telefones placeholder="TODOS" autocomplete="off" />
        </div>
        <div class="col-sm-auto col-12 ms-auto gap-sm-0">
            <button type="submit" class="btn btn-primary my-0">Pesquisar</button>
            <a class="btn btn-success my-0" asp-controller="Fornecedor" asp-action="Cadastro">Novo</a>
        </div>
    </div>
</form>

<div id="div-conteudo"></div>

@section Scripts {
    <script>
         $('#frm-pesquisa').submit(function (evt) {
            evt.preventDefault();

            let url = "@Url.Action("Index", "Fornecedor")";
            let form = $("#frm-pesquisa");
            let obj = form.serializeArray();

            $.ajax({
                method: "POST",
                url: url,
                data: obj
            }).done(function (result, status, xhr, a, b) {
                $('#div-conteudo').html(result);
            })
        });
    </script>
}