@model List<StatusModel>


@foreach (var item in Model)
{
    <option value="@item.ID" selected="@(item.ID == ViewBag.id)">@item.Nome</option>
}

@*
    @await Component.InvokeAsync("DropOrcamentoStatus", new {ID = null})
*@