@{
    ViewData["Title"] = "Orçamentos";
}

<form id="frm-pesquisa">
    <div class="row align-items-end mb-3 gx-2">
        <div class="col-sm-2 col-12 mb-3 mb-sm-0">
            <label class="control-label">Cliente</label>
            <input type="text" id="clienteNome" value="TODOS" onclick="abrirModalClientes()" class="form-control form-control-sm" placeholder="Pesquisar" readonly />
            <input type="hidden" id="clienteID" name="clienteID" />
        </div>
        <div class="col-sm-2 col-12 mb-3 mb-sm-0">
            <label class="control-label">Status</label>
            <select class="form-select form-select-sm" name="StatusID">
                <option value="" selected>TODOS</option>
                @await Component.InvokeAsync("DropOrcamentoStatus", new { ID = 1 })
            </select>
        </div>
        <div class="col-sm-auto col-12 ms-auto gap-sm-0">
            <button type="submit" class="btn btn-primary my-0">Pesquisar</button>
            <a class="btn btn-success my-0" asp-controller="Orcamento" asp-action="Cadastro">Novo Orçamento</a>
        </div>
    </div>
</form>

@await Component.InvokeAsync("ModalClientes", new { todos = true })

<div id="div-conteudo"></div>

@section Scripts {
    <script>
        $('#form-clientes').on('submit', function (e) {
            e.preventDefault();
            const radioSelecionado = $('#tbl-clientes input[name="clienteRadio"]:checked');

            if (radioSelecionado.length > 0) {
                const nomeCliente = radioSelecionado.closest('tr').find('td:nth-child(2)').text().trim();
                const idCliente = radioSelecionado.val();

                $('#clienteNome').val(nomeCliente || 'TODOS');
                $('#clienteID').val(idCliente);
            } else {
                $('#clienteNome').val('SELECIONE');
                $('#clienteID').val('');
            }
        });

        $('#frm-pesquisa').submit(function (evt) {
            evt.preventDefault();
            fn_pesquisar();
        });

        function fn_pesquisar() {
            let url = "@Url.Action("Index", "Orcamento")";
            let form = $("#frm-pesquisa");
            let obj = form.serializeArray();

            $.ajax({
                method: "POST",
                url: url,
                data: obj
            }).done(function (result, status, xhr, a, b) {
                $('#div-conteudo').html(result);
                fn_orcamento_descartar();
                fn_gerar_pedido();
            })
        }

        function fn_gerar_pedido() {
            document.querySelectorAll('form[name="frm-gerar-pedido"]').forEach((frm) => {
                frm.addEventListener('submit', (evt) => {
                    evt.preventDefault();

                    let url = "@Url.Action("GerarPedido", "Orcamento")";
                    let form = $(evt.currentTarget).serializeArray();

                    Swal.fire({
                        title: 'Deseja gerar o pedido?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sim, gerar!'
                    }).then((result) => {
                        if (result.value) {
                            $.ajax({
                                method: "POST",
                                url: url,
                                data: form
                            }).done(function (result, status, xhr, a, b) {
                                Swal.fire({
                                    title: result,
                                    icon: 'success',
                                    showConfirmButton: false,
                                    timer: 1500,
                                    didOpen: () => {
                                        fn_pesquisar();
                                    }
                                });
                            });
                        }
                    });

                });
            });
        }

        function fn_orcamento_descartar() {
            document.querySelectorAll('form[name="frm-orcamento-descartar"]').forEach((frm) => {
                frm.addEventListener('submit', (evt) => {
                    evt.preventDefault();

                    let url = "@Url.Action("Descartar", "Orcamento")";
                    let form = $(evt.currentTarget).serializeArray();

                    Swal.fire({
                        title: 'Deseja descartar o orçamento?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sim, descartar!'
                    }).then((result) => {
                        if (result.value) {
                            $.ajax({
                                method: "POST",
                                url: url,
                                data: form
                            }).done(function (result, status, xhr, a, b) {
                                Swal.fire({
                                    title: result,
                                    icon: 'success',
                                    showConfirmButton: false,
                                    timer: 1500,
                                    didOpen: () => {
                                        fn_pesquisar();
                                    }
                                });
                            });
                        }
                    });

                });
            });
        }
        
    </script>
}