@{
    ViewData["Title"] = "Dashboard";
}

<div id="cabecalho" class="row g-3 mb-4">
    <partial name="_CardsCabecalho"/> @* model="Model" *@    
</div>

<div id="graficos-pedidos">
    <partial name="_GraficosPedidos" />
</div>

<div class="row g-3">
    <partial name="_TabelasPedidos" />    
</div>


@section Scripts {
    <script>
        // Custom progress bar animation
        window.addEventListener('load', function () {
            document.querySelectorAll('.progress-bar-animated-custom').forEach(bar => {
                const percent = bar.getAttribute('data-progress');
                if (percent) {
                    bar.style.width = `${percent}%`;
                }
            });
        });
    </script>
}