@model ProdutoModel

@{
    ViewData["Title"] = "Cadastro - Produto";
}

<form id="frm-cadastro" enctype="multipart/form-data">
    <input asp-for="ID" type="hidden" />
    <div class="row mb-sm-3">
        <div class="col-sm-4 mb-sm-0 mb-2 col-12">
            <label asp-for="Descricao" class="control-label">Descrição</label>
            <input asp-for="Descricao" type="text" class="form-control form-control-sm" required autocomplete="off" maxlength="50" />
        </div>
        <div class="col-sm-4 mb-sm-0 mb-2 col-6">
            <label asp-for="CodigoExterno" class="control-label">Código Externo</label>
            <input asp-for="CodigoExterno" type="text" class="form-control form-control-sm" required autocomplete="off" maxlength="10" />
        </div>        
        <div class="col-sm-4 mb-sm-0 mb-2 col-6">
            <label class="control-label">Grupo</label>
            <select class="form-select form-select-sm" name="GrupoID" required>
                <option value="" disabled selected>Selecione...</option>
                @await Component.InvokeAsync("DropGruposProdutos", new { ID = Model.GrupoID })
            </select>
        </div>
    </div>
    <div class="row">        
        <div class="col-sm-3 mb-sm-0 mb-2 col-12 me-sm-2">
            <label class="control-label">Fornecedor</label>
            <select class="form-select form-select-sm" name="FornecedorID" required>
                <option value="" disabled selected>Selecione...</option>
                @await Component.InvokeAsync("DropFornecedores", new { ID = Model.FornecedorID })
            </select>
        </div>
        <div class="col-sm-3 mb-sm-0 mb-2 col-12">
            <label asp-for="Preco" class="control-label">Preço Venda</label>
            <input asp-for="Preco" type="text" class="form-control form-control-sm moeda" autocomplete="off" required/>
        </div>
        <div class="col-sm-3 mb-sm-0 mb-2 col-12 me-sm-2">
            <label class="control-label">Ativo</label>
            <select class="form-select form-select-sm" name="Ativo" required>
                @await Component.InvokeAsync("DropAtivoInativo", new { ID = Model.Ativo })
            </select>
        </div>
    </div>

    @await Component.InvokeAsync("PgFooterSalvar", new { submit = true, cancelarController = "Produto", cancelarAction = "Index" })

</form>

@section Scripts {
    <script>
        $('#frm-cadastro').submit(function (evt) {
            fn_submit(evt, '#frm-cadastro', '@Url.Action("Cadastro", "Produto")', '@Url.Action("Index", "Produto")', false);
        });
    </script>
}