@{
    ViewData["Title"] = "Relatórios";
}


<h2 class="mb-0">Relatórios</h2>
<hr class="mt-1 mb-3" />
<div class="row g-3">

    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-sack-dollar me-2"></i> FATURAMENTO
            </div>
            <div class="card-body p-2">
                <div class="list-group">
                    <a asp-controller="Relatorio" asp-action="FaturamentoProduto" class="list-group-item list-group-item-action text-primary">
                        Por Produto
                    </a>
                    <a asp-controller="Relatorio" asp-action="FaturamentoCliente" class="list-group-item list-group-item-action text-primary">
                        Por Cliente
                    </a>
                    @* <a href="#" class="list-group-item list-group-item-action text-primary">
                        Por Fornecedor
                    </a> *@
                </div>
            </div>            
        </div>
    </div>
    
    @* <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-boxes-stacked me-2"></i> PRODUTOS
            </div>
            <div class="card-body p-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action text-primary">
                        Mais Vendidos
                    </a>
                </div>
            </div>

        </div>
    </div> *@
    
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-file-invoice me-2"></i> ORÇAMENTOS
            </div>
            <div class="card-body p-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action text-primary">
                        Por Status
                    </a>
                    <a href="#" class="list-group-item list-group-item-action text-primary">
                        Conversão de Orçamentos
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
